/*ids*/

#ruby, #python, #go, #unknown {
  display: none;

}

#rubyImage, #pythonImage, #goImage {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;

}

/*classes*/

.jumbotron {
  background-color: rgb(184, 207, 228);
  background-size: cover;
  border: 2px solid black;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;

}

.panel {
  width: 40%;
  margin: auto;
  margin-bottom: 40px;
  border: 2px solid black;
  padding: 20px;
  background-color: rgb(184, 207, 228)

}

/*html*/

body {
  background-color: rgb(135, 169, 201);

}